.toolbar {
    padding: 0 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    height: 2.5rem;
    gap: 20px;
    transition: all 1s linear;
    &-tool {
        box-sizing: border-box;
        border: 1px solid #dfe1e5;
        border-radius: .625rem;
        padding: 5px 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: .3125rem;
        cursor: pointer;
        &:hover {
            border: 1px solid #dfe1e5;
            border-radius: .625rem;
            box-shadow: 0 2px 5px 1px rgba(64,60,67, 0.6);
        }
    }
}