@font-face {
  font-display: block;
  font-family: 'Nagoda';
  font-style: normal;
  src: local('Nagoda'), url('/fonts/Nagoda.ttf');
}

@font-face {
  font-family: 'Candyshop';
  src: url('https://backblaze.cosine.ren/source/fonts/candy.otf');
  font-display: swap;
}

@font-face {
  font-display: block;
  font-family: 'Fredericka the Great';
  font-style: normal;
  src: local('Fredericka the Great'), url('/fonts/FrederickatheGreat.ttf');
}

@font-face {
  font-display: block;
  font-family: '方正悠宋 简 509R';
  font-style: normal;
  src: local('方正悠宋 简 509R'), url('/fonts/方正悠宋 简 509R.ttf');
}
