@tailwind base;
@tailwind components;
@tailwind utilities;

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

@layer base {
  *::-webkit-scrollbar {
    display: none;
    width: 0;
    background: transparent;
  }

  .custom-scroll-bar::-webkit-scrollbar {
    display: block;
    background: rgba(0, 0, 0, 0.1);
    height: 0.5rem;
    width: 0.5rem;
    border-radius: 0.625rem;
  }

  .custom-scroll-bar::-webkit-scrollbar-thumb {
    background: #fb7185;
    border-radius: 0.625rem;
  }
  .dark .custom-scroll-bar::-webkit-scrollbar {
    display: block;
    background: rgba(0, 0, 0, 0.1);
    height: 0.5rem;
    width: 0.5rem;
    border-radius: 0.625rem;
  }

  .dark .custom-scroll-bar::-webkit-scrollbar-thumb {
    background: #2c69b2;
    border-radius: 0.625rem;
  }
}
.cos__icon {
  width: 1em;
  height: 1em;
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;
}
